#loadingOverlay {
    /* as linhas abaixo garatem que o elemnto ocupe 100% do espaço da tela */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* fundo branco semi-transparente */
    background-color: rgba(192, 219, 255, 0.7);
    /* posiciona o spinner acima de todos os outros elementos HTML */
    z-index: 9999;
}

.spinner-border {
    /* aumenta o tamanho do spinner */
    width: 100px;
    height: 100px;
}